body {
  /*padding: 20px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

i {
  margin-right: 5px;
}

.thumbnail img {
  max-height: 300px;
}

.price {
  font-weight: bold;
  font-size: 20px;
}
