<h1>{{title}}</h1>



<div class="row">
    {{# each products}}

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{{ this.imagePath }}" alt="...">
                <div class="caption">
                    <h3>{{ this.title }}</h3>
                    <p class="description">
                        {{ this.description }}
                    </p>
                    <div class="clearfix">

                        <div class="price  pull-left">$5</div>
                        <a href="#" class="btn btn-default pull-right" role="button">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- col-sm-6 thumb -->


        {{/each}}
</div>
<!-- row -->
